@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #47B5FF;
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    flex: 1;
    display: flex;
    align-items: center;
}

.menu {
    border: 2px solid #256D85;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
}

.black-btn {
    width: 20px;
    height: 20px;
    background-color: black;
    border: black;
    border-radius: 100%;
    padding: 12px;
}

.blue-btn {
    background-color: blue;
    border: blue;
    border-radius: 100%;
    padding: 12px;
}

.red-btn {
    background-color: red;
    border: red;
    border-radius: 100%;
    padding: 12px;
}

.erase-btn {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
    padding: 0;
}

.sketch-brd {
    width: 400px;
    height: 400px;
    border: 2px solid #256D85;
    border-radius: 5px;
    padding: 2px;
    margin: 10px;
}

#sketch {
    display: grid;
    height: 400px;
    grid-template-columns: repeat(var(--grid-size), 1fr);  /* --grid-size value from script.js */
    grid-gap: 2px;
}

#sketch div {
    width: var(--div-size);
    height: var(--div-size);
    padding: 1px;
    margin: 0;
}

footer{
    text-align: center;
    padding: 10px;
}